<head>
    <link rel="stylesheet" href="/CSS/Nav.css">
</head>
<nav>
    <ul class="navbar">
        <li><a href="/">Beiss</a></li>
        <li><a href="/bmi">BMI Calculator</a></li>
        <li><a href="/macro">Macro Nutrient Calculator</a></li>
    </ul>
</nav>