<div class="header">
    <h1>BMI Calculator</h1>
</div>

<div class="form-container">
    <label class="item1">Height (cm)</label>
    <input type="text" class="input1"><br>

    <label class="item2">Weight (kg)</label>
    <input type="text" class="input2"><br>

    <a href=""><input type="button" class="calculate" value="Calculate"></a>
</div>


<div class="card-bmi">
    <h3>RESULT</h3>
    <h1 class="number"></h1>
    <h4 class="category"></h4>
    <p class="description"></p>
</div>
<script src="/Scripts/BMI.js"></script>