<div class="container">
    <div class="desc">
        <h1>Beiss</h1>
        <h3>Body Wellness Calculator</h3>
        <div class="image">
            <img src="../Images/Home.svg" alt="">
        </div>
        <div class="paragraph">
            <p>Welcome to Beiss, where health meets innovation!
            <p>Beiss is not just a website, it's your personal gateway to
                holistic
                wellness</p>
            <p>Our feature - packed BMI & Macronutrient Calculator empowers you to take charge of your health journey
            </p>
        </div>
    </div>
</div>